body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #666;
}

h5 > :not(:first-child) {
  font-size: 1rem;
}

.background-filter {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mr-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.mr-footer__inner {
  padding: 8px 0;
}

.container {
  padding-bottom: calc(1rem + 16px);
}

.mr-h7 {
  font-size: 0.75rem;
}

.mr-card {
  margin-top: 16px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.mr-card a {
  color: white;
}

.mr-card .media {
  display: flex;
  align-items: center;
}

.mr-card.mr-card--buttons {
  padding-bottom: 0;
  padding: 0;
  background: transparent;
  margin-top: 0;
}

.mr-card--buttons .mr-button {
  margin-top: 16px;
}

.mr-card--buttons .mr-button:not(:first-child) {
  margin-top: 16px;
}

@media (min-width: 1281px) { /* Desktop */
  .mr-card.mr-card--buttons {
    margin-top: 16px;
  }
  .mr-card--buttons .mr-button {
    margin-top: 0;
  }
}

.mr-button {
  padding: 8px 16px;

  display: flex;
  align-items: center;
}

.mr-button > :not(:first-child) {
  margin-left: 8px;
}

a.mr-button:hover {
  text-decoration: none;
}

.mr-button--outline {
  background-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
  border-color: white;
  color: white;
}

.mr-button--outline:hover {
  color: white;
}

/* Brand Colors: https://brandcolors.net/ */

.mr-button--outline.mr-color-facebook {
}

.mr-button--outline.mr-color-facebook:hover {
  background-color: #3b5998;
}

.mr-button--outline.mr-color-twitter {
}

.mr-button--outline.mr-color-twitter:hover {
  background-color: #1da1f2;
}

.mr-button--outline.mr-color-github {
}

.mr-button--outline.mr-color-github:hover {
  background-color: #333;
}

.mr-button--outline.mr-color-linkedin {
}

.mr-button--outline.mr-color-linkedin:hover {
  background-color: #0077b5;
}

.mr-button--outline.mr-color-stack-overflow {
}

.mr-button--outline.mr-color-stack-overflow:hover {
  background-color: #f48024;
}

.mr-button--outline.mr-color-spotify {
}

.mr-button--outline.mr-color-spotify:hover {
  background-color: #1db954;
}
